.login .container {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
}

.login-tabs {
    position: absolute;
    padding: 2rem 3rem;
    background: rgba(20, 20, 20, 0.55);
    backdrop-filter: blur(15px);
    border-radius: 20px;
    text-align: center;
    min-width: 400px;
    box-shadow: 0 8px 32px 0 rgba(0, 0, 0, 0.37);
    border: 1px solid rgba(255, 255, 255, 0.1);

    animation: fadeIn 0.8s ease-out;
}

.login-home,
.login-offline,
.login-AZauth,
.login-AZauth-A2F {
    display: none;
}

.login-text {
    font-size: 1.3rem;
}

.connect,
.cancel {
    background: none;
    color: var(--color);
    border: solid 4px var(--element-color);
    border-radius: 10px;
    padding: 0.3rem 4rem;
    font-size: inherit;
    font-weight: bold;
    margin: 15px 10px;
}

.input-login .email,
.input-login .password,
.A2F {
    color: var(--color);
    background: none;
    border: solid 2px var(--element-color);
    border-radius: 30px;
    width: 50%;
    padding: 0.4rem 1rem;
    margin-top: 10px;
}